################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.user
/.vs/leetcode_algorithm/v15/ipch/AutoPCH/9ab7c564fd57fafb/SEARCH_IN_ROTATED_SORTED_ARRAY.ipch
/.vs/leetcode_algorithm/v15/.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
*.tlog
*.idb
*.pdb
*.exe
*.ilk
*.log
*.sqlite-journal
*.obj
*.suo
